# Build outputs
/build/
/app/build/
/.gradle/
**/.gradle/
/nym-transport/target/
target/
**/target/

# IDE
/.idea/
*.iml
.DS_Store

# Local properties
local.properties

# Logs
*.log
crash.log
fulllog.log
fulllog.txt

# Credentials (never commit)
*.keystore
*.jks
google-services.json

# Debug/Test files
*.apk
*.aab

i2pd-android/binary/
i2pd-android/**/boost/
i2pd-android/**/doc/
i2pd-android/**/*.html
i2pd-android/**/*.png
i2pd-android/**/*.pdf